<div class="projects-container">
  <h2 class="projects-title">Projects</h2>
  <div class="button-group">
    <button class="btn-secondary">
      <a routerLink="/login" class="link">Login</a>
    </button>
    <button class="btn-primary" (click)="getProjects()">Load Projects</button>
  </div>
  <ul class="project-list">
    <li *ngFor="let project of display" class="project-item">
      <p class="project-info">Project ID: {{ project.id }}</p>
      <h3 class="project-name">{{ project.name }}</h3>
      <p class="project-description">{{ project.description }}</p>
      <p class="project-info">Start Date: {{ project.startDate }}</p>
      <p class="project-info">End Date: {{ project.endDate }}</p>
      <p class="project-info">Assigned Manager: {{ project.managerId }}</p>
      <p class="project-info">Assigned User: {{ project.assignedUserId }}</p>
      <ul class="task-list">
        <li *ngFor="let task of displayTasksForProject(project.id)" class="task-item">
          <h3 class="task-title">{{ task.title }}</h3>
          <p class="task-description">{{ task.description }}</p>
          <p class="task-info">Task ID: {{ task.id }}</p>
          <p class="task-info">Project ID: {{ task.projectId }}</p>
          <p class="task-info">Assigned User ID: {{ task.assignedUserId }}</p>
          <p class="task-info">Due Date: {{ task.dueDate }}</p>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="add-project-container">
  <h2 class="add-project-title">Add Projects</h2>
  <div class="form-group">
    <input [(ngModel)]="name" placeholder="Project Name" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="description" placeholder="Project Description" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="startDate" placeholder="2024-11-15T16:12:54.837Z" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="endDate" placeholder="2024-11-15T16:12:54.837Z" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="managerId" type="number" placeholder="9" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="assignedUserId" type="number" placeholder="9" class="input-field" />
  </div>
  <button class="btn-primary" (click)="createProject()">Create Project</button>
</div>
