<div class="projects-container">
  <h2 class="projects-title">Projects</h2>
  <div class="button-group">
    <button *ngIf="isLoggedIn()" class="btn-secondary" (click)="logout()">Logout</button>
    <button class="btn-primary" (click)="getProjects()">Load Projects</button>
  </div>
  <ul class="project-list">
    <li *ngFor="let project of display" class="project-item" (click)="navigateToTasks(project.id)" [ngStyle]="{'border-color': isDeadlinePassed(project.endDate) ? 'red' : 'inherit'}">
      <div class="project-content">
        <p class="project-info">Project ID: {{ project.id }}</p>
        <h3 class="project-name">{{ project.name }}</h3>
        <p class="project-description">{{ project.description }}</p>
        <p class="project-info" [ngClass]="{'deadline-passed': isDeadlinePassed(project.endDate)}">
          End Date: {{ project.endDate }}
        </p>
      </div>
    </li>
  </ul>
</div>


<div class="add-project-container">
  <h2 class="add-project-title">Add Projects</h2>
  <div class="form-group">
    <input [(ngModel)]="name" placeholder="Project Name" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="description" placeholder="Project Description" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="startDate" placeholder="2024-11-15T16:12:54.837Z" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="endDate" placeholder="2024-11-15T16:12:54.837Z" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="managerId" type="number" placeholder="9" class="input-field" />
  </div>
  <div class="form-group">
    <input [(ngModel)]="assignedUserId" type="number" placeholder="9" class="input-field" />
  </div>
  <button class="btn-primary" (click)="createProject()">Create Project</button>
</div>
