/* Container Styles */
.tasks-container {
  margin: 20px;
}

.tasks-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Task Columns Container */
.task-columns-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

/* Individual Task Column */
.task-column {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

  .task-column h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
  }

/* Task Card Styles */
.task-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

  .task-card:hover {
    transform: scale(1.02);
  }

  .task-card h3 {
    margin: 0 0 5px;
    font-size: 18px;
  }

  .task-card p {
    margin: 2px 0;
    font-size: 14px;
    color: #555;
  }

/* No Tasks Message */
.no-tasks-message {
  color: #999;
  text-align: center;
  margin-top: 10px;
}


/* Edit Task Form */
.edit-task-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}
